# API
DATABASE_URI="postgresql://<user>:<password>@postgres:5432/bing_ruptcy?sslmode=disable"
OTEL_RESOURCE_ATTRIBUTES="service.name=bing-ruptcy-backend,service.version=0.0.1"
OTEL_EXPORTER_OTLP_ENDPOINT="http://alloy:4318"


# Postgres
POSTGRES_USER="<user>"
POSTGRES_PASSWORD="<password>"
POSTGRES_DB="bing_ruptcy"


# pgadmin
PGADMIN_DEFAULT_EMAIL="<email@email.com>"
PGADMIN_DEFAULT_PASSWORD="<email_passsword>"
PGADMIN_PORT="4100"


# Grafana
GRAFANA_PORT="3030"